{erl_opts, [debug_info]}.

{deps, [
		{eredis, ".*", {git, "http://localhost/Bonobo.Git.Server/eredis.git"}},
		{eredis_smart_sub, ".*", {git, "http://localhost/Bonobo.Git.Server/eredis_smart_sub.git"}}
	   ]
}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [eredis, eredis_smart_sub]}
]}.
%{eunit_tests, []}