{erl_opts, [debug_info]}.

{deps, [
		%{eredis, ".*", {git, "http://localhost/Bonobo.Git.Server/eredis.git"}},
		{eredis, ".*", {git, "https://github.com/wooga/eredis.git"}},
		%{eredis_smart_sub, ".*", {git, "http://localhost/Bonobo.Git.Server/eredis_smart_sub.git"}}
	    {eredis_smart_sub, ".*", {git, "https://github.com/nacmartin/eredis_smart_sub.git"}}
	   ]
}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [eredis, eredis_smart_sub]}
]}.
